@page "/demo"
@inject ConferenceClient ConferenceClient;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ul>
  @foreach (Demo.GraphQL.IGetSessions_Sessions_Nodes title in titles) {
    <li>@title.Title</li>
  }
</ul>

@code {
    private List<Demo.GraphQL.IGetSessions_Sessions_Nodes> titles = new List<Demo.GraphQL.IGetSessions_Sessions_Nodes>();

    protected override async Task OnInitializedAsync()
    {
        var result = await ConferenceClient.GetSessions.ExecuteAsync();
        titles = result.Data.Sessions.Nodes.ToList();
    }
}
